:root {
    --bg-color: linear-gradient(90 deg, blue, yellow, red);
    --bg-color-btn: linear-gradient(90 deg, blue, yellow, red);
}

body {
    margin:0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: var(--bg-color);
    background-size: 300%;
    animation:
}

.container {
    width: 60vw;
    padding: 8px 16px;
    box-shadow: 0 0 8px gray;
    
}

.body:hover {
    background-image: var(--bg-color-btn)
}


@keyframes bg {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.title {
    font-size: 1.7rem;
    text-transform: uppercase;
    background-image: var(--bg-color);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: bg 2s infinite alternate;
    background-size: 200%;
}

.button {
    height: 32px;
    width: 100px;
    border: none;
    cursor: pointer;
    color: black;
    background-image: var(--bg-color);

}