
.spinner {
    margin: 64px;
    width: 200px;
    height: 200px;
    border: 12px solid gray;
    border-radius: 50%;
    border-bottom: 16px solid green;
    animation: loading 2s linear infinite;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}
